{% extends 'base.html'%}
{% block content %}
<div class="container">

    <a href="{% url 'project-create'%}" type="button" class="btn btn-outline-dark btn-lg my-3">Додати портфоліо</a>
    <br>

    {% for project in projects %}

  <a href="{% url 'project-detail' project.pk %}" class="list-group-item list-group-item-action " aria-current="true">
      <div class = 'd-flex justify-content-between'><h5>{{project.title}}</h5>
      <span>{{project.author}}</span>
      </div>

      <div><span >{{project.text}}</span>
      </div>
  </a>
    {% endfor %}
    
<!--    <div class="row">-->
<!--        <div class="col-12 my-3">-->
<!--            <nav aria-label="Page navigation example">-->
<!--  <ul class="pagination">-->
<!--   {% for page_num in page_obj.paginator.page_range %}-->
<!--            <li class="page-item"><a class="page-link" href="?page={{page_num}}">{{page_num}}</a></li>-->
<!--            {% endfor %}-->
<!--  </ul>-->
<!--</nav>-->

<!--        </div>-->

</div>

{% endblock %}